.clang-format
.idea
CMakeCache.txt
Makefile
cmake_install.cmake
cmake-build-debug
compile_commands.json
build/*.o
build/_error?_*.txt
paq8px.exe
paq8px.cbp
CMakeFiles
*.obj
*.a
*.exe
.ninja_*
build.ninja
*.paq8px*
afl-in
afl-out
verification/build/
verification/**/archives/
verification/**/inputs/
verification/**/restored/
verification/**/logs/
verification/1k/input-*.txt
verification/1k/restored-*.txt
# Visual Studio Specific ignores
*.user
.vs/
x64/
release/
debug/
packages/
